In [3]:
#return type of input function is string
a = input()
print(type(a))
# to take integer input
a = int(input())
print(type(a))

123
<class 'str'>
123
<class 'int'>

In [6]:
# negative indexing
a='sarthak'
print(a[-3])

h

In [10]:
#slicing == substring last index se ek kam tak jaayega alwys
a[2:]
a[-3:-1]
#a[-1:-3] invalid
a[:3]

'sar'

In [18]:
t =(1,'sarthak',33.3)
#print(t[2:])
t2 = (2,"poly",35)
t+t2  # merges 2 touple
t*3 # duplicates the touple
t3 =(1,2,3)
max(t3)

3

In [20]:
a = 3
for i in range(a):
    print(a, end=" ")
    a +=1

3 4 5

In [ ]:
n = 4
for i in range(1,n):
    for j in range(1,i):
        print(j,end=" ")
    for k in range(n-1,1,-1):
        print("*",end= " ")
    print()