In [4]:
import pandas as pd
# you can read file from your pc by giving path or by giving online link where your file is locat
iris = pd.read_csv("file:///D:/ML/test.csv")
iris

  Username; Identifier;One-time password;Recovery code;First name;Last name;Department;Location
0  booker12;9012;12se74;rb9012;Rachel;Booker;Sale...
1  grey07;2070;04ap67;lg2070;Laura;Grey;Depot;London
2  johnson81;4081;30no86;cj4081;Craig;Johnson;Dep...
3  jenkins46;9346;14ju73;mj9346;Mary;Jenkins;Engi...
4  smith79;5079;09ja61;js5079;Jamie;Smith;Enginee...

In [6]:
type(iris) # tess us data type of the object in which we store data
# data type is  == DataFrame  is table with rows and columns

pandas.core.frame.DataFrame

In [ ]:
# Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with 
# “relational” or “labeled” data both easy and intuitive.  

# real world data analysis in Python is done using pandas.  

# to copy your data vase and store in someehere
iriscpy = iris.copy()

In [8]:
iriscpy.shape

(5, 1)

In [5]:
import pandas as pd
iris = pd.read_csv("file:///D:/ML/grades.csv")
iris

,Last name,"""First name""","""SSN""","""Test1""","""Test2""","""Test3""","""Test4""","""Final""","""Grade"""
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [12]:
iris.shape # 16 rows and 9 columns it tess us about the shape of the data

(16, 9)

In [18]:
iris.dtypes # tells us data type of each column in the data

Last name           object
 "First name"       object
 "SSN"              object
        "Test1"     object
 "Test2"           float64
 "Test3"           float64
 "Test4"           float64
 "Final"            object
 "Grade"            object
dtype: object

In [8]:
iris.columns = ['lname','fname','location','t1','t2','t3','t4','final','grade']
# changing the column name

In [21]:
iris

,lname,fname,location,t1,t2,t3,t4,final,grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [22]:
iris.describe()
# it is for analysis of data  that means it tells us about the

              t2          t3        t4
count  16.000000   16.000000  16.00000
mean   36.625000   61.750000  59.25000
std    41.463036   35.768701  32.08842
min     1.000000   -1.000000  -1.00000
25%     1.000000   28.250000  39.00000
50%    15.500000   79.000000  68.50000
75%    82.500000   91.500000  84.25000
max    97.000000  100.000000  97.00000

In [23]:
iris.lname
# to access a particular column only we can use this

0       Alfalfa
1        Alfred
2         Gerty
3       Android
4       Bumpkin
5        Rubble
6        Noshow
7          Buff
8       Airpump
9        Backus
10    Carnivore
11        Dandy
12     Elephant
13     Franklin
14       George
15    Heffalump
Name: lname, dtype: object

In [25]:
iris["t2"].head(5)

0    90.0
1    97.0
2    80.0
3    23.0
4    78.0
Name: t2, dtype: float64

In [28]:
iris.isnull()

    lname  fname  location     t1     t2     t3     t4  final  grade
0   False  False     False  False  False  False  False  False  False
1   False  False     False  False  False  False  False  False  False
2   False  False     False  False  False  False  False  False  False
3   False  False     False  False  False  False  False  False  False
4   False  False     False  False  False  False  False  False  False
5   False  False     False  False  False  False  False  False  False
6   False  False     False  False  False  False  False  False  False
7   False  False     False  False  False  False  False  False  False
8   False  False     False  False  False  False  False  False   True
9   False  False     False  False  False  False  False  False  False
10  False  False     False  False  False  False  False  False  False
11  False  False     False  False  False  False  False  False  False
12  False  False     False  False  False  False  False  False  False
13  False  False     False  False  False  False  False  False  False
14  False  False     False  False  False  False  False  False  False
15  False  False     False  False  False  False  False  False  False

In [30]:
iris.isnull().sum()
# find outs the number of nulll in any column

lname       0
fname       0
location    0
t1          0
t2          0
t3          0
t4          0
final       0
grade       1
dtype: int64

In [33]:
iris.iloc[0:,0:]
# if we want to access a particular row and column only we can use iloc and square brackets
# it will take slicing input 
# first parameter is row from where to where
# second parameter is column

,lname,fname,location,t1,t2,t3,t4,final,grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [15]:
# iris.drop(10,inplace = True)
# after using the above command we deleted 10th label from all rows as seen in the output
iris

,lname,fname,location,t1,t2,t3,t4,final,grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [17]:
# as you can see all columns as iris.columns  ...you can aslo see all labels as
iris.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15], dtype='int64')

In [24]:
# it will print those who have lname equal to Buff
iris[iris.lname == 'Buff']

,lname,fname,location,t1,t2,t3,t4,final,grade
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""

In [ ]:
# DROPPING ROWS IN PANDAS

# dropping the table rows using the index and not the lables
# we have used slicing here and one can pass direct number and also an arrray of index as below
temp =iris.drop(iris.index[10:13])
temp
# dropping by passing the label directly
temp2 = iris.drop(10)
temp
# dropping by passing an array of indexes in it
temp3 = iris.drop(iris.index[[0,1,2,3]])
temp3

In [10]:
# t2 is a column name and is of integer type we write this command to check if it displays all values
# where t2 is greater than 75
iris.t2 > 75

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: t2, dtype: bool

In [11]:
# it displayes total number of students wh0 have marks greater than 75 in t2
(iri s.t2 >75).sum()

6

In [13]:
# it will display only those rows which satisfies the condition passed
# a boolean array is passed into it
iris[iris.t2 >75]

,lname,fname,location,t1,t2,t3,t4,final,grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN

In [21]:
# addind a row
# 16 is the label passed to it not the  position
iris.loc[16]=["sethi","sarthak","192-168-100",95,85,100,99,98,"A+"]
iris

,lname,fname,location,t1,t2,t3,t4,final,grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""
16,sethi,sarthak,192-168-100,95,85.0,100.0,99.0,98,A+

In [23]:
# we can pass the float value in the label also
iris.loc[7.5]=["rai","poly","192-168-100",95,85,100,99,98,"A+"]
iris

,lname,fname,location,t1,t2,t3,t4,final,grade
0.0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1.0,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2.0,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3.0,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4.0,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5.0,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6.0,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7.0,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8.0,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9.0,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10.0,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11.0,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12.0,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13.0,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14.0,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15.0,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""
16.0,sethi,sarthak,192-168-100,95,85.0,100.0,99.0,98,A+
7.5,rai,poly,192-168-100,95,85.0,100.0,99.0,98,A+

In [24]:
# you can also add a label as a string 
iris.loc["bread"]=["jiggly","princess","192-168-100",95,85,100,99,98,"A+"]
iris

,lname,fname,location,t1,t2,t3,t4,final,grade
0.0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1.0,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2.0,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3.0,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4.0,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5.0,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6.0,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7.0,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8.0,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9.0,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10.0,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11.0,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12.0,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13.0,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14.0,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15.0,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""
16.0,sethi,sarthak,192-168-100,95,85.0,100.0,99.0,98,A+
7.5,rai,poly,192-168-100,95,85.0,100.0,99.0,98,A+
bread,jiggly,princess,192-168-100,95,85.0,100.0,99.0,98,A+