In [5]:
import pandas as pd
pd.read_csv("file:///D:/ML/test.csv")

  Username; Identifier;One-time password;Recovery code;First name;Last name;Department;Location
0  booker12;9012;12se74;rb9012;Rachel;Booker;Sale...
1  grey07;2070;04ap67;lg2070;Laura;Grey;Depot;London
2  johnson81;4081;30no86;cj4081;Craig;Johnson;Dep...
3  jenkins46;9346;14ju73;mj9346;Mary;Jenkins;Engi...
4  smith79;5079;09ja61;js5079;Jamie;Smith;Enginee...